<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.asyysy.app.mapper.short_url.ShortUrlMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.asyysy.app.model.short_url.ShortUrl">
        <id column="pkid" property="pkid" />
        <result column="shortUrl" property="short_url" />
        <result column="longUrl" property="long_url" />
        <result column="shortCode" property="SHORT_CODE" />
        <result column="cDate" property="c_date" />
        <result column="redirctTime" property="redirct_time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pkid, short_url, long_url, path_url, c_date, redirct_time
    </sql>
</mapper>
