<!DOCTYPE html>
<html lang="en">
<head th:include="common/header :: common_head(~{::title})"></head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="referrer" content="never">
    <title>黄猿帅-[[${sys.domain }]]</title>
    <script th:src="@{static/js/echarts.min.js}"></script>
    <script th:src="@{static/js/china.js}"></script>
    <script th:src="@{static/js/echarts-gl.js}"></script>
    <!--微信jdsdk-->
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    <script th:src="@{/static/js/common/location.js}"></script>
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" charset="utf-8" data-callback="true" ></script>


    <style>
        body{
            /*background-color: #6C496F;*/
            margin: 0 auto;
        }

        .margin_top_20{
            margin-top: 20px;
        }

        .ncp_chart{
            width: 380px;
            height:350px;
        }

        .centent {
            margin: 0 auto;
            text-align: center;
            display:inline-block
        }
        #now_time_div{
            margin-top: 20px;
            margin-bottom: 10px;
        }
        #now_time_echarts{
            width: 400px;
            height:500px;
        }
        input {
            background-color: whitesmoke;
        }
    </style>

    <script>
        $(function(){
            // 新冠病毒
            //initNcp();
            // 微信
            //initWx();
            // 当前时间
            initNowDate();
            init();
            $("#domain").html(window.location.origin);
            $("#location_info").html(getLocation())
        })


    </script>
</head>
<body>
    <div class="centent">
        <h1 id="domain"></h1>

        <!--<span id="qqLoginBtn"></span>
        <script type="text/javascript">
            QC.Login({
                btnId:"qqLoginBtn"	//插入按钮的节点id
            });
        </script>-->
        <div class="now_time_div margin_top_20" style="margin-bottom: 10px;">
            当前时间
            <span id="now_time_span" ></span>
        </div>

        <div style="margin-top: 20px;">
            <button id="getLocation">获取位置信息</button>
            <br>
            <span id="location_info"></span>
        </div>

        <!-- ncp疫情信息-->
        <div class="margin_top_20" style="text-align: left">
            <span id="ncpInfo"></span>
        </div>
        <!-- 为ECharts准备一个具备大小（宽高）的Dom 确诊病例 -->
        <div id="ncp_confirmed_ount" class="margin_top_20 ncp_chart"></div>
        <!-- 为ECharts准备一个具备大小（宽高）的Dom 治愈病例 -->
        <div id="ncp_cured_count" class="margin_top_20 ncp_chart"></div>
        <!-- 为ECharts准备一个具备大小（宽高）的Dom 死亡病例 -->
        <div id="ncp_dead_count" class="margin_top_20 ncp_chart"></div>

        <table border="1">
            <tr>
                <th>序号</th>
                <th>类型</th>
                <th>关键字</th>
                <th>回复内容</th>
                <th>次数</th>
                <th>时间</th>
            </tr>
            <tr  th:each="wx,wxStat : ${list}">
                <td th:text="${wxStat.index+1}"></td>
                <td th:text="${wx.type}"></td>
                <td th:text="${wx.keyword}"></td>
                <!--解决 thymeleaf 不显示html元素问题 th:utext-->
                <th th:utext='${wx.replyText}'></th>
                <th th:text="${wx.sendSum}"></th>
                <th th:text="${#dates.format(wx.createTime, 'yyyy-MM-dd HH:mm:ss')}" th:value="${wx.createTime}"></th>
            </tr>
        </table>

        <table border="1">
            <tr>
                <th>序号</th>
                <th>短网址路径</th>
                <th>长网址路径</th>
                <th>短网址唯一码</th>
                <th>创建时间</th>
                <th>转发次数</th>
            </tr>
            <tr  th:each="d,index : ${shortUrlList}">
                <td th:text="${index.index+1}"></td>
                <td><a th:href="${d.shortUrl}" target="_blank">点我</a></td>
                <td><a th:href="${d.longUrl}" target="_blank">点我</a></td>
                <th th:text="${d.shortCode}"></th>
                <th th:text="${#dates.format(d.cDate, 'yyyy-MM-dd HH:mm:ss')}" th:value="${d.cDate}"></th>
                <th th:text="${d.redirctTime}"></th>
            </tr>
        </table>

        <div style="margin-top: 20px;">
            长网址 ： <textarea id="long_url" placeholder="请输入想要转换的长网址" style="margin-bottom: -11px;">[[${sys.domain }]]</textarea> <button onclick="saveShortUrl()">保存长网址</button>
            <br><span id="short_url"></span>
        </div>

        <!--当前时间 https://gallery.echartsjs.com/editor.html?c=xBJd0b_nNf-->
        <div class="now_time_div margin_top_20" style="margin-bottom: 10px;">
            <div id="now_time_echarts" class="margin_top_20"></div>
        </div>

        <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=LkZXVxwfHh0WH25IQVZDT0dCAE1BQw" style="text-decoration:none;">
            <img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_11.png"/>
        </a>
    </div>
</body>
</html>