<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" th:href="@{/static/css/login/style.css}" type="text/css" media="all" />
    <link rel="stylesheet" th:href="@{/static/css/login/fontawesome-all.css}">
    <link rel="stylesheet" th:href="@{/static/css/jquery-confirm.css}">
    <script th:src="@{/static/js/jquery.min.js }"></script>
    <script th:src="@{/static/js/jquery.cookie.js }"></script>
    <!--
    http://www.jq22.com/demo/jqueryConfirm20160413/
    jquery-confirm.js
    -->
    <script th:src="@{/static/js/jquery-confirm.js }"></script>
    <script th:src="@{static/js/canva_moving_effect.js}"></script>
    <script th:src="@{/static/js/config/sysConfig.js}"></script>
    <script th:src="@{/static/js/common/common.js}"></script>
    <style>
        #userInfo{
            color: #89a2b5;
            font-style:normal;
            cursor: unset;
        }
        #userInfo a{
            color: #89a2b5;
            cursor: pointer;
        }
    </style>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
        $(function () {
            $("#login").hide();
            $("#register").hide();
            $("#index").hide();
            $("#chat").hide();
            // 登录
            $("#login").on("click",function () {
                var userName = $.trim($("#userName").val());
                var password = $.trim($("#password").val());
                // 去登录
                login(userName,password);
            })

            // 注册
            $("#register").on("click",function () {
                var userName = $.trim($("#userName").val());
                var password = $.trim($("#password").val());
                // 去注册
                register(userName,password);
            })

            // 去聊天
            $("#chat").on("click",function () {
               window.location.href = context_path + "/chat";
            })
            // 校验是否登录
            checkLogin();

        })

        // 退出登录
        function logout() {
            common.ajaxPostJson(context_path + "/api/user/logout",null,function (data) {
                // 退出登录
                $.cookie("token",null);
                $.confirm({
                    title: "信息",
                    animation: 'RotateYR',
                    content: "退出登录成功",
                    closeAnimation: 'scale'
                });
                // 校验是否登录
                checkLogin();
            },function (data) {
                console.log(data.msg);
                // 校验是否登录
                checkLogin();
            });
        }

        // 校验是否登录
        function checkLogin() {
            common.ajaxPostJsonBeforeSend(context_path + "/api/user/getUser",null,function(data){
                console.log(data);
                setTimeout(function(){
                    // 已登录
                    $("#userInfo").html(data.data + "-<a href=\"javascript:logout();\">退出登录</a>");
                    $("#login").hide();
                    $("#register").hide();
                    $("#index").show();
                    $("#chat").show();
                },300)
            },function(data){
                $("#login").show();
                $("#register").show();
                $("#index").hide();
                $("#chat").hide();
                console.log(data);
                $("#userInfo").html("请登录");
            },function(xhr){
                xhr.setRequestHeader("Authorization", $.cookie("token"));
            })
        }

        // 去注册
        function register(userName,password) {
            var data = {
                userName : userName ,
                password : password
            }
            common.ajaxPostJson(context_path + "/api/user/register",JSON.stringify(data),function (data) {
                $.confirm({
                    animation: 'RotateYR',
                    content: JSON.stringify(data.msg),
                    closeAnimation: 'scale'
                });
            },function (data) {
                $.alert({
                    title: '提示信息',
                    content: JSON.stringify(data.msg),
                    confirm: function(){
                    }
                });
            })
        }

        // 登录
        function login(userName,password){
            var data = {
                userName : userName ,
                password : password
            }
            common.ajaxPostJson(context_path + "/api/user/login",JSON.stringify(data),function (data) {
                // 创建一个cookie并设置有效时间为 7天:
                $.cookie("token", data.data,{ expires: 7 });
                $.alert({
                    title: '提示信息',
                    content: "用户：" + userName + "登录成功",
                    confirm: function(){
                    }
                });
                // 校验是否登录
                checkLogin();
            },function (data) {
                $.alert({
                    title: '提示信息',
                    width:'400px',
                    content: JSON.stringify(data.msg),
                    confirm: function(){
                    }
                });
            })
        }
    </script>

   <!-- <link href="http://maxcdn.bootstrapcdn.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">-->

</head>

<body>
<!-- bg effect -->
<div id="bg">
    <canvas></canvas>
    <canvas></canvas>
    <canvas></canvas>
</div>
<!-- //bg effect -->
<!-- title -->
<h1>登录<a href="javascript:;" style="font-size: 14px;float: right;" id="userInfo"></a></h1>

<!-- //title -->
<!-- content -->
<div class="sub-main-w3">
    <form id="form" method="post" onsubmit="return false;">
        <h2>登录信息
            <i class="fas fa-level-down-alt"></i>
        </h2>
        <div class="form-style-agile">
            <label>
                <i class="fas fa-user"></i>
                登录名
            </label>
            <input placeholder="请输入登录名" name="userName" id="userName" type="text" required="">
        </div>
        <div class="form-style-agile">
            <label>
                <i class="fas fa-unlock-alt"></i>
                密码
            </label>
            <input placeholder="请输入密码" name="password" id="password" type="password" required="">
        </div>
        <!-- checkbox -->
        <div class="wthree-text">
            <ul>
                <li>
                    <!--<label class="anim">
                        <input type="checkbox" class="checkbox" id="keepLogin">
                        <span>保持登录</span>
                    </label>-->
                    <a href="javascript:;" id="register">注册</a>
                    <a th:href="@{/index}" id="index">首页</a>
                </li>
                <li>
                    <a href="javascript:;" id="chat">去聊天</a>
                </li>
            </ul>
        </div>
        <!-- //checkbox -->
        <input type="submit" id="login" value="登录">
    </form>
</div>
<!-- //content -->

<!-- copyright -->
<div class="footer">
    <p>Copyright &copy; 2020 黄猿帅.页面模板来自【<a target="_blank" href="http://sc.chinaz.com/moban/">chinaz.com</a>】</p>
</div>
<!-- //copyright -->
</body>

</html>