<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.asyysy.asyysy.app.mapper.user.UserMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.asyysy.asyysy.app.model.core.User">
        <id column="pkid" property="pkid" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="e_mail" property="eMail" />
        <result column="qq" property="qq" />
        <result column="qq_open_id" property="qqOpenId" />
        <result column="qq_access_token" property="qqAccessToken" />
        <result column="qq_union_id" property="qqUnionId" />
        <result column="telphone" property="telphone" />
        <result column="create_date" property="createDate" />
        <result column="type" property="type" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pkid, user_name, password, e_mail, qq, qq_open_id, qq_access_token, qq_union_id, telphone, create_date, type, update_date
    </sql>
</mapper>
