<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.asyysy.asyysy.app.mapper.user.WxMainMapper" >

    <resultMap id="BaseResultMapWxMain" type="cn.asyysy.asyysy.app.model.wechat.WxMessage" >
        <id column="pkid" property="pkid" jdbcType="INTEGER" />
        <result column="open_id" property="openId" jdbcType="VARCHAR" />
        <result column="message" property="message" jdbcType="VARCHAR" />
        <result column="all_message" property="allMessage" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List_WxMessage" >
        pkid, open_id, message,all_message, type,date
    </sql>
    <sql id="Base_Column_List_Un_Pkid_WxMessage" >
        open_id, message,all_message, type,date
    </sql>

</mapper>
